<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Store | فروشگاه</title>
</head>
<style>
img {
    border: 5px solid #161F6D;
  }
  </style>
<body style="background-color: #00ABE1; text-align: center;">
    
    <img src="https://b2n.ir/a25880" alt="welcome page" width="1000" height="400" >
    <form action="{%url 'account'%}" method="POST">{%csrf_token%}
        
        <label for="register">
           <a href="{% url 'register' %}"> <button type="button" style="color:#00ABE1; background-color: #161F6D; font-size: xx-large; border-radius: 10px;"> ثبت نام</button> </a>
        </label>
        <label for="login">
           <a href="{% url 'login' %}"> <button type="button" style="color:#00ABE1; background-color: #161F6D; font-size: xx-large; border-radius: 10px;" >ورود </button> </a>  
        </label>
    </form>
    
</body>
</html>