{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<link rel="stylesheet" href="{% static 'css/product_card.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>صفحه اصلی</title>
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
      integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="{% static 'js/preloader.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/menubar.css'%}">
</head>
<body style=" background-image: url('/static/img/background.png');background-repeat: no-repeat;background-size: cover; color: white;" >

    <div class="topnav"  >
        <a href="{% url 'dashboard' %}" class="active">Home <i class="fa fa-home"></i></a>
		{% if log == True %}
        	<a href="{% url 'logout'%}">logout <i class="fas fa-sign-out-alt"></i></a>
		{% else %}
		<a href="{% url 'login' %}">login <i class="fas fa-sign-in-alt"></i></a>
		{% endif %} 
		{% if super == True %}
        	<a href="{% url 'product' %}" >products<i class="fa fa-product-hunt"></i> </a>
		{% endif %}
		{% if log == True %}
        	<a href="{% url 'cart' %}" >cart <i class="fa fa-shopping-basket" ></i></a>
        	<a href="{% url 'listFactors' %}">Factors <i class="fa fa-history"></i></a>
		{% endif %}
        <a href="{% url 'categories' %}">Categories <i class="fa fa-list-alt"></i></a>
    </div>
	<br>
	
	<div style=" border-radius: 10px; border: #00ABE1 5px double; width: 99.3%; position: fixed; left: 0%; top: 13%; background-image: url('/static/img/blue_gif.gif');">
        <h1 style="text-align: center;"><b style="color: white;"> محصولات پیشنهادی</b></h1>

	
    <br><br><br>

    {% for s in suggests%}
    <div class="wrapper" style="display: inline-block;">
		<div class="container">
		  <div class="top" style="background-image: url('{{ s.4 }}');"></div>
		  <div class="bottom">
			<div class="left">
			  <a href="{% url 'get_product' s.3 %}"><div class="buy" style="float: left; width: 49%;"><i class="fa fa-eye"></i></div></a>
			  <a href="{% url 'add_to_cart' s.3 %}"><div class="buy"><i class="fa fa-shopping-basket blue-color "></i></div></a>
			</div>
			
		  </div>
		</div>
		<div class="inside">
		  <div class="icon"><i style=" text-align: right; margin-left: 20%;" class="material-icons">اطلاعات</i></div>
		  <div class="contents">
			<table style="text-align: right;">
			  <tr>
				<th>: نام محصول </th>
			  </tr>
			  <tr style="height: 50px;">
				<td style="text-align: left;">{{ s.0 }}</td>
			  </tr>
			  
			  <tr>
				<th>: دسته بندی</th>
			  </tr>
			  <tr style="height: 50px;">
				<td style="text-align: left;">{{ s.1 }}</td>
			  </tr>
			  <tr>
				<th>: قیمت </th>
			  </tr>
			  <tr>
				<td style="text-align: left;">تومان {{ s.2 }}</td>
			  </tr>
			</table>
		  </div>
		</div>
	  </div>
    
    {% endfor %}

</div>

</body>
</html>